body { background-color: rgb(98, 189, 189); color: white; }

label { display: block; margin-top: 20px; }

input[type="submit"] { display: block; margin-top: 20px;}

a { text-transform: none; color: white;}